html, body {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to bottom right, hsl(260, 90%, 15%), black 100%);
    color: white;
}

.home-button {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px 15px;
    background-color: hsl(260, 90%, 65%);
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    z-index: 10;
}

.timeline-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.timeline {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 40%;
    padding: 20px 0;
    margin-left: -10%;
}

    .timeline::after {
        content: '';
        position: absolute;
        width: 4px;
        height: 100%;
        background-color: #444444;
        left: 50%;
        transform: translateX(-50%);
    }

.container {
    position: relative;
    flex: 0 0 100px;
    margin: 20px 0;
    overflow: visible;
    width: 100%;
}

    .container::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20%;
        background-color: #121212;
        border: 3px solid hsl(260, 90%, 65%);
        border-radius: 50%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        transition: transform 0.3s ease;
    }

    .container:hover::after {
        transform: translateX(-50%) scale(1.2);
    }

    .container .content {
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s ease;
        left: 54%;
        bottom: 20%;
    }

    .container:hover .content {
        opacity: 1;
    }

.content {
    padding: 15px 20px;
    background-color: #242424;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 70%;
    height: auto;
}

    .content h2 {
        color: hsl(260, 90%, 65%);
    }

.image-container {
    position: fixed;
    top: 10px;
    right: 10px;
    text-align: center;
}

    .image-container img {
        max-width: 150px;
        height: auto;
        border-radius: 5px;
    }

.footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding: 15px 0;
}
